/* You can add global styles to this file, and also import other style files */
@import 'bootstrap';

html, body {
    height: 100%;
}

body {    
    display: flex;
}

main {
    display: flex;
    height: 100%;
    margin: 1rem 0;
}

app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

app-dashboard {
    display: flex;
    flex-direction: column;
    flex: 1;
}
gridster-item {
    @extend .border, .rounded, .shadow-sm, .p-2;
}